
.mat-card {
  border-radius: 0px;
}

.mat-icon {
  font-size: 70px;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

.mat-stroked-button {
  margin-top: 4px !important;
  min-height: 51px;
  max-height: 51px !important;
  white-space: pre-line !important;
  overflow-x: hidden !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
