<mat-card class="mat-elevation-z5">

  <mat-card-header>
    <mat-card-title class="mat-headline">{{componentTitle}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutGap.lt-sm="0"
         fxLayout.lt-sm="column">

      <app-education-information-list fxFlexFill (deleteEvent)="onDeleteEvent($event)"></app-education-information-list>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="center center"
         [style]="'margin: 16px'"
         *ngIf="!isAddingInfo">

      <button mat-stroked-button (click)="addNewInfo()">
        <mat-icon>add_circle_outline</mat-icon>
        Eğitim Bilgisi Ekle
      </button>
    </div>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-stroked-button>Geri Dön</button>
    <button mat-stroked-button [disabled]="educationInformationArray.length == 0">Devam Et</button>
  </mat-card-actions>

</mat-card>
