
<!--<div class="main-container"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="16px" fxLayoutGap.lt-sm="0"> -->

  <!--<app-education-component fxFlex="100"></app-education-component>-->
  <!--<app-personal-information fxFlex="100"></app-personal-information>-->
  <!--<app-foreign-language-information fxFlex="100"></app-foreign-language-information>-->
  <!--<app-contact-information (contactInformationEvent)="logEmittedValue($event)" fxFlex="100"></app-contact-information>-->
  <!--<button mat-stroked-button (click)="openPopupComponent()">Popup deneme</button>-->
  <!--<app-work-experience fxFlex="100"></app-work-experience>-->
  <!--<app-match-result [resultList]="result.matchResultArray" fxFlex="100"></app-match-result>-->

<!-- </div> -->

<app-loading-dialog></app-loading-dialog>
<main>
  <div class="main-container" [@routeAnimation]="getDepth(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</main>

