
.list-item {
  border-radius: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.list-text {
  margin-top: 12px;
  margin-bottom: 8px;
}

::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  padding: 4px 4px 4px 4px;

}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}

:host /deep/ .mat-list-item-content {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

mat-panel-title {
  flex-basis: 0;
}
mat-panel-description {
  flex-basis: 100%;
}
