<mat-card class="mat-elevation-z5">

  <mat-card-header>
    <mat-card-title class="mat-headline">{{componentTitle}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutGap.lt-sm="0"
         fxLayout.lt-sm="column">

      <mat-form-field color="primary" appearance="outline" fxFlex="100">
        <mat-label>Mesleğiniz</mat-label>
        <input type="text"
               placeholder="Mesleğiniz"
               matInput
               [formControl]="professionFormControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let filtered of filteredOptions | async" [value]="filtered">{{filtered}}</mat-option>
        </mat-autocomplete>

        <button mat-button *ngIf="professionFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionFormControl.setValue('')">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>


    </div>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-stroked-button>Geri Dön</button>
    <button mat-stroked-button>Devam Et</button>
  </mat-card-actions>

</mat-card>
