<div fxLayout="column"
     fxLayoutAlign="center">

  <h2 mat-dialog-title>Yeni Eğitim Bilgisi Ekle</h2>

  <mat-dialog-content>

    <div fxLayout="column"
         fxLayout.lt-sm="column">

      <mat-form-field color="primary" appearance="outline"hideRequiredMarker>
        <mat-label>Eğitim Düzeyi</mat-label>
        <mat-select [(ngModel)]="selectedDegree" (ngModelChange)="selectDegree(selectedDegree)" required>
          <mat-option *ngFor="let degree of componentData.educationdegrees" [value]="degree">{{ degree }}</mat-option>
        </mat-select>
        <mat-error>Bu alan boş bırakılamaz.</mat-error>
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline" hideRequiredMarker>
        <mat-label>Mezun olduğunuz üniversite</mat-label>
        <mat-select [(ngModel)]="selectedUniversity" (ngModelChange)="selectUniversity(selectedUniversity)" required>
          <mat-form-field color="primary" appearance="fill" fxFlexFill hideRequiredMarker>
            <mat-label>Arama</mat-label>
            <label>
              <input matInput type="text" autocomplete="off" (keyup)="filterFaculties($event)" (keydown)="$event.stopPropagation()"/>
            </label>
          </mat-form-field>
          <mat-option *ngFor="let university of componentData.universities" [value]="university">{{ university }}</mat-option>
        </mat-select>
        <mat-error>Bu alan boş bırakılamaz.</mat-error>
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline" hideRequiredMarker>
        <mat-label>Mezun olduğunuz fakülte</mat-label>
        <mat-select [(ngModel)]="selectedFaculty" (ngModelChange)="selectFaculty(selectedFaculty)" required>
          <mat-form-field color="primary" appearance="fill" fxFlexFill hideRequiredMarker>
            <mat-label>Arama</mat-label>
            <label>
              <input matInput type="text" autocomplete="off" (keyup)="filterFaculties($event)" (keydown)="$event.stopPropagation()"/>
            </label>
          </mat-form-field>
          <mat-option *ngFor="let faculty of componentData.faculties" [value]="faculty">{{ faculty }}</mat-option>
        </mat-select>
        <mat-error>Bu alan boş bırakılamaz.</mat-error>
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline" fxFlex="30" fxFlex.lt-sm="100" hideRequiredMarker>
        <mat-label>Mezun olduğunuz bölüm</mat-label>
        <mat-select [(ngModel)]="selectedDepartment" (ngModelChange)="selectDepartment(selectedDepartment)" required>
          <mat-form-field color="primary" appearance="fill" fxFlexFill hideRequiredMarker>
            <mat-label>Arama</mat-label>
            <label>
              <input matInput type="text" autocomplete="off" (keyup)="filterFaculties($event)" (keydown)="$event.stopPropagation()"/>
            </label>
          </mat-form-field>
          <mat-option *ngFor="let department of componentData.departments" [value]="department">{{ department }}</mat-option>
        </mat-select>
        <mat-error>Bu alan boş bırakılamaz.</mat-error>
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline" fxFlex="30" fxFlex.lt-sm="100" hideRequiredMarker>
        <mat-label>Mezun olduğunuz yıl</mat-label>
        <mat-select [(ngModel)]="graduationYear" (ngModelChange)="selectGraduationYear(graduationYear)" required>
          <mat-option *ngFor="let year of yearArray" [value]="year">{{ year }}</mat-option>
        </mat-select>
        <mat-error>Bu alan boş bırakılamaz.</mat-error>
      </mat-form-field>

    </div>

    <!-- <div fxLayout="row"
         fxLayout.lt-sm="column"
         fxLayoutGap="8px" fxLayoutGap.lt-sm="0">

      <mat-form-field color="primary" appearance="outline" fxFlex="50" hideRequiredMarker>
        <mat-label>Başlangıç Tarihi</mat-label>
        <label>
          <input matInput
                 [matDatepicker]="pickerStartDate"
                 max="{{minDate | date:'yyyy-MM-dd'}}"
                 [(ngModel)]="startDate"
                 [formControl]="startDateControl" required>
        </label>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
        <mat-error>Eğitime başladığınız tarihi giriniz.</mat-error>
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline" fxFlex="50" hideRequiredMarker>
        <mat-label>Mezuniyet Tarihi</mat-label>
        <label>
          <input matInput
                 [matDatepicker]="pickerFinishDate"
                 max="{{minDate | date:'yyyy-MM-dd'}}"
                 [(ngModel)]="finishDate"
                 [formControl]="finishDateControl" required>
        </label>
        <mat-datepicker-toggle matSuffix [for]="pickerFinishDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinishDate></mat-datepicker>
        <mat-error>Mezun olduğunuz tarihi giriniz.</mat-error>
      </mat-form-field>
    </div> -->

  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end">
    <button mat-stroked-button (click)="cancelOperation()">Vazgeç</button>
    <button mat-stroked-button [disabled]="!checkValidations()" (click)="emitEducationInformation()">Ekle</button>
  </mat-dialog-actions>
</div>
