
.dashboard-container {
  background: #F0F2F0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-title {
  margin: 16px;
  color: white;
}

.sub-title {
  margin: 16px;
  text-align: center;
  max-width: 60%;
  color: white;
}
.mat-stroked-button {
  color: white;
  border-color: white;
}

@media only screen and (max-width: 600px) {
  .sub-title {
    max-width: 100%;
  }
}
