
.dashboard-container {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.main-title {
  margin: 16px;
}

.sub-title {
  margin: 16px;
  text-align: center;
  max-width: 60%;
}

@media only screen and (max-width: 600px) {
  .sub-title {
    max-width: 100%;
  }
}
