/* You can add global styles to this file, and also import other style files */
@import "assets/typography/app.typography";
@import "assets/style/app.style";

@include app-typography();
@include angular-material-theme($app-theme);

html, body { height: 100%; margin: 0; width: 100%; }

.dialog-responsive {
  width: 50%;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
    width: 100%;
  }
}

.custom-shadow {
  @include mat-elevation(15, #303F9F, 0.4);
}
