
<div fxFlexFill class="right-container">

  <div class="left-container"
       fxLayout="column"
       fxFlex.lt-md="100"
       fxFlex.md="50"
       fxFlex.lg="50"
       fxFlex="50" fxLayoutAlign="center center">

    <p class="mat-body-2 main-title">JobTracer</p>

    <p class="mat-body-2 quote-title">
      İş bulmanın yeni, pratik ve hızlı yolu
    </p>

    <p class="mat-body-1 sub-title">
      JobTracer, öz gecmisinizi ve profesyonel yaşamdaki tecrübelerinizi kullanarak size en uygun iş ilanlarini bulmak için tasarlandı.
    </p>

    <div class="button-container" fxLayout="row" fxLayoutGap="16px">
      <button fxFlex="45" mat-stroked-button class="landing-buttons mat-elevation-z15 custom-shadow" (click)="startJobFindingFlow()">
        İş Ara
      </button>

      <button fxFlex="45" mat-stroked-button class="landing-buttons mat-elevation-z15 custom-shadow" (click)="openSettingsBottomSheet()">
        Ayarlar
      </button>
    </div>
  </div>

    <div class="diagonal-bg">
      <div class="stars">
        <div class="small"></div>
        <div class="medium"></div>
        <div class="big"></div>
      </div>
    </div>

</div>




